@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient( 
    135deg,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    135deg,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Poppins", sans-serif;
}

.article {
  margin: 40px auto;
  max-width: 1000px;
  background: #fff;
  padding: 30px 50px;
}

a {
  color: #888;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.tooltip {
  position: relative;
  z-index: 1;
}

.tooltip:hover {
  z-index: 100;
}

.tooltip:hover .tooltip__box {
  display: block;
}

.tooltip__box {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
  display: none;
  max-height: 200px;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 300px;
}

.tooltip__box--image {
  max-height: none;
  padding: 0;
}

.tooltip__image {
  max-width: 100%;
  display: block;
}
